* {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1;
    min-width: 960px;
}

.main-container {
    height: auto;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

header, main, section, footer {
    /* border: 2px solid blue; */
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 84px 20px 32px 20px;
}

header img { 
    margin-bottom: 36px;
}

header nav {
    width: 460px;
}

header nav ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

header ul li a {
    color: #252525;
    display: inline-block;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 0 0 3px;
    text-decoration: none;
    text-transform: uppercase;
}

header nav ul li a:hover {
    color: #0ba39c;
}

#mobile-navigation {
    display: none;
}
    
#navigation {
    display: none;
}

.container {
    height: auto;
    width: 100%;
    display: flex;
    position: relative;
}

.image-container {
    overflow: hidden;
    min-width: 200px;
    width: 100%;    
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20%;
    left: 50%;
}

/* main {
    height: auto;
    background-image: url('https://freewebsitetemplates.com/preview/mustacheenthusiast/images/the-beacon.jpg');
    background-size: 100% auto, cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 450px;
    top: 50px;
} */

/* main .main-text {
    left: 50%;
    margin-left: -480px;
    margin-top: -171px;
    padding: 0 0 0 470px;
    top: 50%;
    position: absolute;
    float: right;
    text-align: left;
    width: 490px;
    margin-left: 32%;
    margin-top: 150px;
} */

main .main-text h2 {
    background: #fff;
    color: #000;
    display: inline-block;
    font-family: 'Gravitas One', cursive;
    width: 430px;
    font-size: 20px;
    font-weight: bolder;
    margin: 0 0 18px;
    padding: 23px 27px 20px;
    text-transform: uppercase;
}

main .main-text span {
    background: #252525;
    color: #fff;
    width: 452px;
    display: inline-block;
    font-size: 20px;
    margin: 7px 0;
    padding: 12px 27px;
}

main .main-text button {
    background: #0ba39c;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin: 15px 0 0;
    padding: 26px 27px 22px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 160px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 340px; */
    width: 100%;
    min-width: 956px;
    /* margin-top: 100px;
    margin-right: 20px; */
    margin: 0 auto;
    padding: 40px 0 40px 0px;
    overflow: hidden;
}

section div {
    margin-left: 20px;
    /* margin: 0 auto;
    padding: 24px 0 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section div img {
    border: 2px solid #1a1a1a;
    display: block;
    margin: 0;
    padding-top: 0;
    opacity: .8;
    transition: 0.5s ease-in-out;
}

section div img:hover {
    opacity: 1;
}

section div p {
    font-family: 'Poller One', cursive;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
}

footer {
    background: #252525;
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 36px 0 42px;
}

footer .footer {
    margin: 0 auto;
    overflow: hidden;
    height: 45px;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.footer p {
    color: #fff;
    float: left;
    line-height: 45px;
    margin: 0 0 0 10px;
    padding: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    float: right;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: auto;
    height: 45px;
}

.footer ul li {
    display: block;
}

.footer ul li a {
    background: url('https://freewebsitetemplates.com/preview/mustacheenthusiast/images/icons.jpg') no-repeat 0 0;
    display: block;
    height: 45px;
    margin: 0;
    padding: 0;
    text-indent: -99999px;
    width: 44px;
}

footer .footer ul li #twitter {
    background-position: 0 0;
}

footer .footer ul li #facebook {
    background-position: 0 -44px;
}

footer .footer ul li #googleplus {
    background-position: 0 -88px;
}

footer .footer ul li #pinterest {
    background-position: 0 -132px;
}

@media (max-width: 1150px) {
    .main-text {
        position: absolute;
        display: flex;
        flex-direction: column;
        height: auto;
        top: 10%;
        left: 40%;
    }
}

@media (max-width: 972px) {
    body {
        min-width: 0;
    }

    section {
        flex-direction: column;
        height: 100%;
        min-width: 0;
        width: 100%;
    }

    section div img {
        width: 100%;
    }

    .container img {
        min-width: 1000px;
    }
}

@media (max-width: 730px) {
    .main-text {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        top: 0%;
        bottom: 10%;
        left: 0%;
    }

    main .main-text h2 {
        width: auto;
        height: 100px;
    }

    main .main-text span {
        width: auto;
    }
}

@media (max-width:610px) {
    footer {
        padding: 10px 0 25px;
    }
    
    footer .footer {
        display: flex;
        flex-direction: column;
        overflow: visible;
        width: 100%;
        height: auto;
    }
    
    footer .footer p {
        float: none;
        margin: 0;
        text-align: center;
    }
    
    footer .footer ul {
        float: none;
        margin: 0 auto;
        width: 256px;
        overflow: visible;
        display: flex;
        justify-content: space-around;
    }
}

@media (max-width:500px) {
    nav {
        display: none;
    }

    #mobile-navigation {
        background: url(../images/mobile-menu.png) no-repeat 0 0;
        display: block;
        height: 50px;
        margin: 30px auto 0;
        padding: 0;
        width: 50px;
    }

    header {
        padding-top: 40px;
    }

    header img {
        margin: 0;
    }

    header ul {
        border: 1px solid #fff;
        display: none;
        left: 50%;
        margin-left: -45%;
        padding: 0;
        position: absolute;
        width: 90%;
        z-index: 1001;
    }

    header ul li {
        border-top: 1px solid #fff;
        display: block;
        margin: 0;
        padding: 0;
        position: relative;
    }

    header > ul > li:first-child {
        border: 0;
    }

    header ul li a {
        background: rgba(11, 163, 156, 0.9);
        color: #fff;
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: normal;
        height: 49px;
        line-height: 49px;
        padding: 0 15px;
        text-align: left;
    }

    header ul li a:hover, header ul li selected a {
        background: rgba(0, 0, 0, 0.9);
	    color: #fff;
    }

    header ul li span {
        background: rgba(11, 163, 156, 0.9) url() no-repeat 0 0;
        border-left: 1px solid #fff;
        display: block;
        height: 49px;
        position: absolute;
        right: 0;
        top: 10;
        bottom: 10;
        width: 50px;
    }

    .main-container header img {
        width: 90%;
        height: auto;
        margin: 0px 20% 20px 20%;
    }

    main .main-text h2 {
        font-size: 16px;
    }

    main .main-text span {
        font-size: 16px;
    }
}

@media (max-width:315px) {
    footer .footer ul {
        gap: 10px;
        width: auto;
    }   
}